.pageEditTask {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  max-width: 500px;
  margin: auto;
}

.pageEditTask__title {
  font-size: 3.5rem;
  margin-bottom: 2.5rem;
  max-width: 500px;
}

.pageEditTask__form {
  max-width: 25rem;
  width: 100%;
}

.pageEditTask__form button {
  display: flex;
  margin: auto;
}
